<div id="dashboard">
  <v-layout row wrap>
    <v-flex xs12 md6>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">Attributes</div>
        <v-layout row>
          <v-flex xs6>
            <v-avatar color="indigo white--text">OI</v-avatar>
            <div>{{user.first_name}} {{user.last_name}}</div>
            <div>Age: {{ age }}</div>
          </v-flex>
          <v-flex xs6>
            <div>Radar Graph</div>
            <div>{{totalPts}}</div>
            <div>{{totalAggregate}}</div>
            <div>total prize</div>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
    <v-flex xs12 md6>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">Trend</div>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout row wrap>
    <v-flex xs12 md9>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">History</div>
      </v-card>
    </v-flex>
    <v-flex xs12 md3>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">Notification</div>
      </v-card>
    </v-flex>
  </v-layout>
</div>