<div id="dashboard">
  <v-layout row wrap>
    <v-flex xs12 md6 lg3>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">Biodata</div>
      </v-card>
    </v-flex>
    <v-flex xs12 md6 lg3>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">attrib 1</div>
      </v-card>
    </v-flex>
    <v-flex xs12 md6 lg3>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">attrib 2</div>
      </v-card>
    </v-flex>
    <v-flex xs12 md6 lg3>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">attrib 3</div>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout row wrap>
    <v-flex xs12 md9>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">score history</div>
      </v-card>
    </v-flex>
    <v-flex xs12 md3>
      <v-card class="pa-3 mx-1 my-1">
        <div class="caption grey--text">notification</div>
      </v-card>
    </v-flex>
  </v-layout>
</div>