.mr-2,
.fa-sign-out {
  display: inline-block;
  vertical-align: middle;
}

.fa.fa-sign-out,
.fa.fa-navicon,
.fa.fa-dashboard,
.fa.fa-pencil,
.fa.fa-money,
.fa.fa-paperclip {
  font-size: 1.3em;
}

@media screen and (max-width: 480px) { 
  .headline *{
    font-size: 0.6em;
  }
}